:root {
  --ifm-color-primary: #2f6f9f;
  --ifm-color-primary-dark: #2a648f;
  --ifm-color-primary-darker: #285e87;
  --ifm-color-primary-darkest: #214e6f;
  --ifm-color-primary-light: #347aaf;
  --ifm-color-primary-lighter: #3680b7;
  --ifm-color-primary-lightest: #4490c8;
}

[data-theme='dark'] {
  --ifm-color-primary: #66b5e8;
  --ifm-color-primary-dark: #48a6e2;
  --ifm-color-primary-darker: #399fde;
  --ifm-color-primary-darkest: #2184c5;
  --ifm-color-primary-light: #84c4ee;
  --ifm-color-primary-lighter: #93cbf1;
  --ifm-color-primary-lightest: #bfdef7;
}
